{% extends "layout.html" %}
{% block content%}
<table class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th></th>
        <th>ville</th>
        <th>quartier</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>0</th>
        <td>Bafoussam</td>
        <td>Djeleng</td>
      </tr>
      <tr>
        <th>1</th>
        <td>Bafoussam</td>
        <td>Haoussa</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Bafoussam</td>
        <td>Tamdja</td>
      </tr>
      <tr>
        <th>3</th>
        <td>Douala</td>
        <td>Akwa</td>
      </tr>
      <tr>
        <th>4</th>
        <td>Douala</td>
        <td>Bonapriso</td>
      </tr>
      <tr>
        <th>5</th>
        <td>Douala</td>
        <td>Village</td>
      </tr>
      <tr>
        <th>6</th>
        <td>Yaoundé</td>
        <td>Odza</td>
      </tr>
    </tbody>
  </table> 

{% endblock%}